html {
	font-size: 20px;
}

body {
	background-color: var(--background);
	
}

h1 {
	color: var(--forground);
	font-size: var(--font-size-large);
	font-family: 'Bitter', serif;
}

h2 {
	font-family: 'Taviraj', serif;
	font-size: var(--font-size-medium);
}

p {
	font-family: 'Biryani', sans-serif;
}

a {
	font-family: 'Biryani', sans-serif;
	font-size: var(--font-size-small);
	color: var(--background);
	text-decoration: none;
}
