.banner__container {
	display: block;
	margin: 10rem 0;
	width: 100vw;
}

.banner__banner {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	margin: 3rem 0;
	width: 100vw;
	height: 300px;
	background-color: var(--forground);
}

.banner__banner-text {
		color: white;
		font-size: var(--font-size-large);
		font-family: 'Bitter', serif;
}