.header__cart-accordion {
	display: none;
}

.header__cart-accordion--visible {
	display: block;
	height: 400px;
	width: 400px;
	background: white;
	position: fixed;
	top: 75px;
	right: 0;
	border: 1px solid grey;
	transition: ease 300ms;
}

.header__cart-icon {
	color: white;
	cursor: pointer;
	font-size: 1.5rem;
}

.header__cart {
	position: relative;

}

.header__cart-button {
	color: black;

}

.header__cart-quantity {
	font-size: var(--font-size-small);
	background-color: red;
	color: white;
	position: absolute;
	border-radius: 3px;
	padding: 3px;
	top: -8px;
	right: -5px;
	cursor: pointer;
}