.filter__info-container {
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: end;
   height: 250px;
}


.grid__filter-item {
   text-align: center;
}



.filter__toggle--active {
   border-right: 1px solid black;
   border-left: 1px solid black;
   font-weight: 600;
   font-size: 1.2rem;
   transition: ease 200ms;

}

.item__label {
   font-size: var(--font-size-small);
   height: 1.2rem;
   width: 4rem;
   color: var(--forground);
   text-align: center;
   text-decoration: underline;
   font-family: 'Biryani', sans-serif;
}



.item__name {
   font-family: 'Taviraj', serif;
   margin: 1rem 0;
   justify-self: center;


}

.item__category {
   font-family: 'Biryani', sans-serif;
   font-size: var(--font-size-small);
   color: grey;
}

.item__price {
   font-family: 'Bitter', serif;
   font-size: var(--font-size-large);
}

.item__purchase {
   padding: 0.5rem 1rem;
   background-color: var(--forground);
   border-radius: 1rem;
   margin: 1rem;
   color: white;
   font-family: 'Biryani', sans-serif;
}

.item__amount {
   display: flex;
   flex-flow: row;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin: 0.5rem;

}