.header__navigation-secondary {
	display: flex;
	flex-flow: row;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 75px;
	background-color: var(--background);
	position: sticky;
	top: 100px;
	margin-top: 3.7rem;
	z-index: 0;
	
}

.header__navigation-secondary>li>a {
	color: var(--forground);
}