.main__section-hero {
	height: 100vh;
	background: rgb(27, 23, 34);
	background: linear-gradient(180deg, rgba(27, 23, 34, 1) 20%, rgba(108, 22, 42, 1) 50%, rgba(195, 20, 50, 1) 100%);
	background-repeat: no-repeat;
	position: relative;
}

.main__section-banner {
	width: 100vw;
	padding: 3rem 0;
	background-color: #00000040;
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}

.main__section-hero-text {
	font-family: 'Bitter', serif;
	font-size: var(--font-size-large);
	position: absolute;
	color: white;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}

.main__section-hero-link {
	padding: 1rem 2rem;
	background-color: var(--foreground);
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1rem;
}

.main__section-hero-link:hover {
	background-color: var(--foreground-hover);
}