/******DESKTOP MEDIUM/LARGE******/

.product__filter-content {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	margin: 4rem 5rem;
	gap: 2rem;
	text-align: center;
}

.filter__button {
	display: none;
}

.filter {
	display: flex;
}

/******DESKTOP SMALL******/
@media screen and (max-width: 1200px) {
	.product__filter-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		margin: 4rem 5rem;
		gap: 2rem;
		text-align: center;
	}

	.filter__button {
		display: none;
	}


}

/******TABLET******/
@media screen and (max-width: 992px) {
	.product__filter-content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin: 4rem 5rem;
		gap: 2rem;
		text-align: center;
	}

	.filter__button {
		display: block;
		margin: 4rem auto 0 auto;
		padding: 1rem 2rem;
		background-color: var(--background);
		border-bottom: 1px solid black;
	}

	.filter {
		display: none;
	}

	.filter__list {
		display: none;
	}

	.filter__list--visible {
		display: flex;
		flex-flow: column;
		margin-top: 1rem;
	}
}

/******MOBILE******/
@media screen and (max-width: 768px) {
	.product__filter-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin: 3rem 1rem;
		gap: 2rem;
		text-align: center;
	}

	.filter__button {
		display: block;
		width: 100vw;
		padding: 1rem 2rem;
		border-bottom: 1px solid black;
		background-color: var(--background);
	}

	.filter__list {
		display: none;
	}

	.filter__list--visible {
		display: flex;
		flex-flow: column;
		margin-top: 1rem;
	}

	.filter {
		display: none;
	}
}